@using EindProjectBusinessModels;

@{
    ViewBag.Title = "Overzicht Verlof";
}

@Html.AntiForgeryToken()
@Html.Partial("_TitelEnError")
<form action="/HR">
    <input name="Actie" type="submit" value="HR Tools" @ViewBag.ShowHR >
</form>
<form action="/TeamLeader/Index">
    <input name="Actie" type="submit" value="TeamLeader Tools" @ViewBag.ShowTeamLeader >
</form>
<form action="/Verlof/WerknemerAction">
    <input name="Actie" type="submit" value="Werknemer Tools" @ViewBag.ShowWerknemer >
</form>
<br />


