@model EindProjectBusinessModels.Werknemer
@using EindProjectBusinessModels

@{
    ViewBag.Title = @Model.VolledigeNaam;
}


@Html.Partial("_TitelEnError")


<h4>Verlofaanvraag indienen</h4>
@using (Html.BeginForm("VerlofIndienen", "Verlof", FormMethod.Post))
{
    @Html.Hidden("PersoneelsNr", @Model.PersoneelsNr)

    EindProjectBusinessModels.VerlofAanvraag aanvraag = new EindProjectBusinessModels.VerlofAanvraag();

    <div class="form-group">
        @Html.LabelFor(a => aanvraag.StartDatum, new { @class = "col-sm-2 control-label" })
        <div class="col-sm-10">
            @Html.TextBoxFor(a => aanvraag.StartDatum, DateTime.Now.AddDays(15).ToShortDateString())
            @Html.ValidationMessageFor(a => aanvraag.StartDatum)
        </div>
    </div>

    <div class="form-group">
        @Html.LabelFor(a => aanvraag.EindDatum, new { @class = "col-sm-2 control-label" })
        <div class="col-sm-10">
            @Html.TextBoxFor(a => aanvraag.EindDatum, DateTime.Now.AddDays(15).ToShortDateString())
            @Html.ValidationMessageFor(a => aanvraag.EindDatum)
        </div>
    </div>

    <input type="submit" value="Verlof Aanvragen" name="btnSubmit" class="btn btn-default" />

}

@*@{
    JaarlijksVerlof jv = (from j in @Model.JaarlijksVerlof
                          where j.Jaar == DateTime.Now.Year
                          select j).FirstOrDefault();

    int gv = (from v in @Model.Verlofaanvragen
              where v.StartDatum.Year == DateTime.Now.Year
              && v.Toestand == Aanvraagstatus.Goedgekeurd
              select v.EffectiefAantalVerlofdagen).Sum();

    int di = (from v in @Model.Verlofaanvragen
              where v.StartDatum.Year == DateTime.Now.Year
              && v.Toestand == Aanvraagstatus.Ingediend
              select v.EffectiefAantalVerlofdagen).Sum();

    int rd = jv.AantalDagen - gv - di;*@

<h4>Saldo Verlofaanvragen</h4>
<div>
    <table class="sortable table table-striped">
        <thead>
            <tr>
                <td><b>Jaar</b></td>
                <td><b>Jaarlijks Verlof</b></td>
                <td><b>Goedgekeurd Verlof</b></td>
                <td><b>Dagen ingediend</b></td>
                <td><b>Resterende dagen</b></td>
            </tr>
        </thead>
        @*<tr>
                <td>@jv.AantalDagen dagen</td>
                <td>@gv</td>
                <td>@di</td>
                <td>@rd</td>
            </tr>*@
        @foreach (JaarlijksVerlof item in Model.JaarlijksVerlof)
        {

            // hier worden ze per jaar opgevraagd
            int tmprd = new EindProjectDAL.DalMethodes().GebruikteVerlofDagenVoorJaar(Model, item.Jaar);
            int tmpdi = new EindProjectDAL.DalMethodes().GebruikteVerlofDagenVoorJaarIngediend(Model, item.Jaar);
            int tmpgv = new EindProjectDAL.DalMethodes().GebruikteVerlofDagenVoorJaarGoedgekeurd(Model, item.Jaar);


            <tr>
                <td>@item.Jaar</td>
                <td>@item.AantalDagen</td>
                <td>@tmpgv</td>
                <td>@tmpdi</td>
                <td>@(item.AantalDagen-tmpdi-tmpgv)</td>
            </tr>
        }



    </table>
</div>
@* } *@

<h4>Overzicht Verlofaanvragen</h4>
@using (Html.BeginForm("VerlofIndienen", "Verlof", FormMethod.Get))
{
    <table class="sortable table table-striped">
        <thead>
            <tr>
                <td>Filteren op</td>
                <td>@Html.TextBox("txtFilterStartDatum")</td>
                <td>@Html.TextBox("txtFilterEindDatum")</td>
                <td>@Html.DropDownList("ddlStatus")</td>
                <td>
                    <input type="submit" value="Filter toepassen" name="btnSubmit" class="btn btn-default" />
                </td>
            </tr>
            <tr>
                <td><b>aanvraagdatum</b></td>
                <td><b>startdatum</b></td>
                <td><b>einddatum</b></td>
                <td colspan="2"><b>toestand</b></td>
            </tr>
        </thead>
        <tbody>
            @foreach (var x in Model.Verlofaanvragen)
            {
                EindProjectBusinessModels.VerlofAanvraag aanvraag = x as EindProjectBusinessModels.VerlofAanvraag;
                if (((List<String>)@ViewBag.Status).Contains(aanvraag.Toestand.ToString())
                     && aanvraag.StartDatum >= (DateTime)@ViewBag.startDt
                     && aanvraag.EindDatum <= (DateTime)@ViewBag.eindDt)
                {
                    <tr>
                        <td>@aanvraag.AanvraagDatum.ToShortDateString()</td>
                        <td>@aanvraag.StartDatum.ToShortDateString()</td>
                        <td>@aanvraag.EindDatum.ToShortDateString()</td>
                        <td>@aanvraag.Toestand</td>
                        <td>
                            @if ((aanvraag.Toestand == EindProjectBusinessModels.Aanvraagstatus.Goedgekeurd
                    || aanvraag.Toestand == EindProjectBusinessModels.Aanvraagstatus.Ingediend)
                    && aanvraag.StartDatum > DateTime.Now)
                            {
                                @Html.ActionLink("Annuleren", "VerlofAnnuleren", new { aanvraagID = aanvraag.Id }, FormMethod.Post)

                                @*using (Html.BeginForm("VerlofAnnuleren", "Verlof", FormMethod.Post))
                                    {
                                        <input type="hidden" value="@Model.PersoneelsNr" name="persNr" />
                                        <input type="hidden" value="@aanvraag.Id" name="aanvraagId" />
                                        <input type="submit" value="Annuleren" name="btnAnnuleren" class="btn btn-default" />
                                    }*@
                            }
                        </td>
                    </tr>
                }
            }
        </tbody>

    </table>
}


@section Scripts{
    @System.Web.Optimization.Scripts.Render("~/bundles/jqueryval");
}