@model EindProjectBusinessModels.Werknemer

@{
    ViewBag.Title = "WerknemerIngelogd";
}

<h2>Welkom @Model.Voornaam @Model.Naam</h2>


<h4>Verlofaanvraag indienen</h4>
@using (Html.BeginForm("VerlofIndienen", "Verlof", FormMethod.Post))
{
    @Html.Hidden("PersoneelsNr", @Model.PersoneelsNr);

    EindProjectBusinessModels.VerlofAanvraag aanvraag = new EindProjectBusinessModels.VerlofAanvraag();

    <div class="form-group">
    @Html.LabelFor(a => aanvraag.StartDatum, new { @class = "col-sm-2 control-label" })
    <div class="col-sm-10">
    @Html.EditorFor(a => aanvraag.StartDatum)
    @Html.ValidationMessageFor(a => aanvraag.StartDatum)
    </div>
    </div>

    <div class="form-group">
    @Html.LabelFor(a => aanvraag.EindDatum, new { @class = "col-sm-2 control-label" })
    <div class="col-sm-10">
    @Html.EditorFor(a => aanvraag.EindDatum)
    @Html.ValidationMessageFor(a => aanvraag.EindDatum)
    </div>
    </div>

    <input type="submit" value="Verlof Aanvragen" class="btn btn-default" />
}

<h4>Overzicht Verlofaanvragen</h4>

<table class="table table-striped">
        <tr>
            <td>aanvraagdatum</td>
            <td>startdatum</td>
            <td>einddatum</td>
            <td>toestand</td>
        </tr>
        @foreach (var x in Model.Verlofaanvragen)
        {
            EindProjectBusinessModels.VerlofAanvraag aanvraag = x as EindProjectBusinessModels.VerlofAanvraag;
            <tr>
                <td>@aanvraag.AanvraagDatum.ToShortDateString()</td>
                <td>@aanvraag.StartDatum.ToShortDateString()</td>
                <td>@aanvraag.EindDatum.ToShortDateString()</td>
                <td>@aanvraag.Toestand</td>
            </tr>
        }
    </table>

@section Scripts{
    @System.Web.Optimization.Scripts.Render("~/bundles/jqueryval");
}