@model EindProjectBusinessModels.Werknemer
@using EindProjectBusinessModels
@{
    ViewBag.Title = "Verlofaanvragen alle teamleden";
}

@Html.Partial("_TitelEnError")
@Html.AntiForgeryToken()
<div>
    <h4>Actieve filter:</h4>
    <table>
        <tr>
            <td><b>Status =</b></td>
            <td>
                @{
                    foreach (String item in @ViewBag.Status)
                    {
                        @item;
                    @Html.Raw("&nbsp");
                    }
                }
            </td>
            <td><b>Startdatum =</b></td>
            <td>
                @{
                    if (((DateTime)@ViewBag.StartDatum) != DateTime.MinValue)
                    {
                        @Html.Raw(((DateTime)@ViewBag.StartDatum).ToShortDateString())
                    }
                    else
                    {
                        @Html.Raw("niet gefilterd")
                    }
                }
            </td>
            <td><b>Einddatum  =</b></td>
            <td>
                @{
                    if (((DateTime)@ViewBag.EindDatum) != DateTime.MaxValue)
                    {
                        @Html.Raw(((DateTime)@ViewBag.EindDatum).ToShortDateString());
                    }
                    else
                    {
                        @Html.Raw("niet gefilterd")
                    }
                }
            </td>
        </tr>
    </table>
</div>
<table class="table">
    <tr>
        <th>
            @Html.Label("Aanvrager")
        </th>
        <th>
            @Html.Label("Nr")
        </th>
        <th>
            @Html.Label("StartDatum")
        </th>
        <th>
            @Html.Label("EindDatum")
        </th>
        <th>
            @Html.Label("AanvraagDatum")
        </th>
        <th>
            @Html.Label("Toestand")
        </th>
        <th>
            @Html.Label("Behandeld op")
        </th>
        <th>
            @Html.Label("Behandeld door")
        </th>
    </tr>

    @foreach (Werknemer item in (List<Werknemer>)Session["werknemer"])
    {
        foreach (VerlofAanvraag v in item.Verlofaanvragen)
        {
            if (((List<String>)@ViewBag.Status).Contains(v.Toestand.ToString())
                && v.StartDatum >= (DateTime)@ViewBag.StartDatum
                && v.EindDatum <= (DateTime)@ViewBag.EindDatum)
            {
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => item.Naam)
                        @Html.DisplayFor(modelItem => item.Voornaam)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => v.Id)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => v.StartDatum)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => v.EindDatum)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => v.AanvraagDatum)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => v.Toestand)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => v.BehandelDatum)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => v.BehandeldDoor.Naam)
                        @Html.DisplayFor(modelItem => v.BehandeldDoor.Voornaam)
                    </td>
                </tr>
            }
        }
    }
</table>
<br />
@using (@Html.BeginForm("Index", "TeamLeader"))
{
    <input type="submit" name="btnSubmit" value="Nieuwe selectie" />
}
