@model EindProjectBusinessModels.Werknemer

@{
    ViewBag.Title = "InfoForWerknemer";
}

<h2>Verlofaanvragen voor @Model.Voornaam @Model.Naam</h2>

<table class="table">
    <tr>
        <th>

        </th>
        <th>
            @Html.Label("Nr")
        </th>
        <th>
            @Html.Label("StartDatum")
        </th>
        <th>
            @Html.Label("EindDatum")
        </th>
        <th>
            @Html.Label("AanvraagDatum")
        </th>
        <th>
            @Html.Label("Toestand")
        </th>
        <th>
            @Html.Label("Behandeld op")
        </th>
        <th>
            @Html.Label("Behandeld door")
        </th>
    </tr>

    @foreach (var item in Model.Verlofaanvragen)
    {
        <tr>
            <td>
                @Html.ActionLink("Goedkeuren", "UpdateStatusVerlofAanvraag", item)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Id)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.StartDatum)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.EindDatum)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.AanvraagDatum)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Toestand)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.BehandelDatum)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.BehandeldDoor.Naam)
            </td>
        </tr>
    }

</table>

