@model EindProjectBusinessModels.Werknemer
@{
    ViewBag.Title = "Hr";
}

@Html.Raw(EindProjectMVC.Models.HrMenuGenerator.CreeerHrMenu())
@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()

    <div class="form-horizontal" role="form">
        <h4>Nieuwe Werknemer</h4>
        <hr />
        @Html.ValidationSummary(true)

        <div class="form-group">
            @Html.LabelFor(model => model.Naam, new { @class = "col-sm-2 control-label" })
            <div class="col-sm-10">
                @Html.EditorFor(model => model.Naam)
                @Html.ValidationMessageFor(model => model.Naam)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.Voornaam, new { @class = "col-sm-2 control-label" })
            <div class="col-sm-10">
                @Html.EditorFor(model => model.Voornaam)
                @Html.ValidationMessageFor(model => model.Voornaam)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.Email, new { @class = "col-sm-2 control-label" })
            <div class="col-sm-10">
                @Html.EditorFor(model => model.Email)
                @Html.ValidationMessageFor(model => model.Email)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.Geboortedatum, new { @class = "col-sm-2 control-label" })
            <div class="col-sm-10">
                @Html.EditorFor(model => model.Geboortedatum)
                @Html.ValidationMessageFor(model => model.Geboortedatum)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.Adres, new { @class = "col-sm-2 control-label" })
            <div class="col-sm-10">
                @Html.EditorFor(model => model.Adres)
                @Html.ValidationMessageFor(model => model.Adres)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.Postcode, new { @class = "col-sm-2 control-label" })
            <div class="col-sm-10">
                @Html.EditorFor(model => model.Postcode)
                @Html.ValidationMessageFor(model => model.Postcode)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.Gemeente, new { @class = "col-sm-2 control-label" })
            <div class="col-sm-10">
                @Html.EditorFor(model => model.Gemeente)
                @Html.ValidationMessageFor(model => model.Gemeente)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.TeamLeader, new { @class = "col-sm-2 control-label" })
            <div class="col-sm-10">
                @Html.EditorFor(model => model.TeamLeader)
                @Html.ValidationMessageFor(model => model.TeamLeader)
            </div>
        </div>
        <div class="form-group">
            @Html.LabelFor(model => model.Team, new { @class = "col-sm-2 control-label" })
            <div class="col-sm-10">
                @Html.DropDownList("TeamsNieuweWerknemerDL");
                @*@Html.EditorFor(model => model.Team)*@
                @Html.ValidationMessageFor(model => model.Team)
            </div>
        </div>

        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Creer Werknemer" class="btn btn-default" />
            </div>
        </div>
    </div>
}

@section Scripts{
    @System.Web.Optimization.Scripts.Render("~/bundles/jqueryval");
}
