@model System.Collections.Generic.IEnumerable<EindProjectBusinessModels.Werknemer>

    @{
        ViewBag.Title = "Overzicht werknemers";
    }

    @Html.Partial("_TitelEnError")

    @using (Html.BeginForm("HrZoekWerknemer", "HR", new { @class = "form-inline" }))
    {
        @Html.AntiForgeryToken()
    <div class="row" title="Zoek werknemer op:">
        <div class="form-group col-md-3">
            <label for="personeelsNr">Personeels nummer: </label>
            <input type="number" class="form-control" id="personeelsNr" name="personeelsNr" placeholder="1">
        </div>
        <div class="form-group col-md-3">
            <label for="werknemerNaam">Naam: </label>
            <input type="text" class="form-control" id="werknemerNaam" name="werknemerNaam" placeholder="naam">
        </div>
        <div class="form-group col-md-3">
            <label for="werknemerVoorNaam">Voornaam: </label>
            <input type="text" class="form-control" id="werknemerVoorNaam" name="werknemerVoorNaam" placeholder="voornaam">
        </div>
        <div class="form-group col-md-2">
            <label for="btnZoekWerknemer">Zoek: </label>
            <button type="submit" class="btn btn-default" name="btnZoekWerknemer">Zoek werknemer</button>
        </div>
    </div>
            
       

    }

    <div class="table table-striped ">
        <table class="table-hover sortable">
            <thead>
                <tr>
                    <th></th>
                    <th>Nr</th>
                    <th>Naam</th>
                    <th>Voornaam</th>
                    <th>GeboorteDatum</th>
                    <th>Team</th>
                    <th>Adres</th>
                    <th>Postcode</th>
                    <th>Verlof aanvragen</th>
                    <th>Verlofdagen voor dit jaar</th>
                </tr>
            </thead>
            <tbody>
                @foreach (EindProjectBusinessModels.Werknemer werkn in Model)
                {
                    <tr>
                        <td>
                            @Html.ActionLink("Wijzig", "HrWijzigWerknemer", new { werknemerId = werkn.PersoneelsNr })
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => werkn.PersoneelsNr)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => werkn.Naam)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => werkn.Voornaam)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => werkn.Geboortedatum)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => werkn.Team.Naam)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => werkn.Adres)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => werkn.Postcode)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => werkn.Verlofaanvragen.Count);
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => werkn.JaarlijksVerlof.Where(x => x.Jaar == DateTime.Now.Year).FirstOrDefault().AantalDagen);
                        </td>
                    </tr>
                }
            </tbody>







        </table>
    </div>
    

