@model System.Collections.Generic.IEnumerable<EindProjectBusinessModels.Werknemer>

    @{
        ViewBag.Title = "HrWijzigWerknemer";
    }

    <div class="jumbotron">
        <h2>Hr Wijzig Werknemer</h2>
        <nav class="navbar navbar-inverse">
            <form action="/HR/HrNieuweWerknemer" class="label label-primary">
                <input name="Actie" type="submit" value="Nieuwe WerkNemer" class="button-invis">
            </form>
            <form action="/HR/HrWijzigWerknemer" class="label label-success">
                <input name="Actie" type="submit" value="Wijzig Werknemer" class="button-invis">
            </form>
            <form action="/HR/HrWVerlofToevoegen" class="label label-default">
                <input name="Actie" type="submit" value="Verlof Toevoegen" class="button-invis">
            </form>
            @*<span class="label label-default"> </span>
                <span class="label label-primary">Wijzig Werknemer</span>
                <span class="label label-success">Verlof Toevoegen</span>*@
            @*<span class="label label-info">Info</span>*@
            @*<span class="label label-warning">Warning</span>
                <span class="label label-danger">Danger</span>*@
        </nav>

        <div class="table-hover">
            <table class="table table-striped ">
                <thead>
                    <tr>
                        <th>PersoneelsNr</th>
                        <th>Naam</th>
                        <th>Voornaam</th>
                        <th>GeboorteDatum</th>
                        <th>Team</th>
                        <th>Adres</th>
                        <th>Postcode</th>
                        <th>Verlofaanvragen</th>
                        <th>Verlofdagen per jaar</th>
                    </tr>
                </thead>
                    @foreach (EindProjectBusinessModels.Werknemer werkn in Model)
                    {
                        <tr>
                            <td>
                                @Html.DisplayFor(modelItem => werkn.PersoneelsNr)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => werkn.Naam)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => werkn.Voornaam)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => werkn.Geboortedatum)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => werkn.Team.Naam)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem =>werkn.Adres)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => werkn.Postcode)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem =>werkn.Verlofaanvragen.Count)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => werkn.VerlofDagenPerJaar.Count)
                            </td>
                        </tr>
                    }
                    
                        
                   
               
            </table>
        </div>

    </div>
