<li class="dropdown">

    <a class="dropdown-toggle" data-toggle="dropdown" href="/HR">Hr Tools<b class="caret-black"></b></a>
    <ul class="dropdown-menu" role="menu">
        <li>@Html.ActionLink("Nieuwe Werknemer", "HrNieuweWerknemer", "Hr")</li>
        <li>@Html.ActionLink("Selecteer Werknemer", "HrSelecteerWerknemer", "Hr")</li>
        <li>@Html.ActionLink("Jaarlijks Verlof Toevoegen", "HrWJaarlijksVerlofToevoegen", "Hr")</li>
        <li>@Html.ActionLink("Team Toevoegen", "HrTeamToevoegen", "Hr")</li>
        <li>@Html.ActionLink("TeamVerantwoordelijkeBeheren", "HrTeamVerantwoordelijkeBeheren", "Hr")</li>
    </ul>
</li>
