@using Microsoft.AspNet.Identity
@if (Request.IsAuthenticated)
{
    using (Html.BeginForm("LogOff", "Account", FormMethod.Post, new { id = "logoutForm", @class = "navbar-right" }))
    {
        @Html.AntiForgeryToken()

        <ul class="nav navbar-nav navbar-right">
            <li>
                @Html.ActionLink("Hello " + User.Identity.GetUserName() + "!", "Manage", "Account", routeValues: null, htmlAttributes: new { title = "Manage" })
            </li>
            <li><a href="javascript:document.getElementById('logoutForm').submit()">Log off</a></li>
        </ul>
    }
}
else
{
    <ul class="nav navbar-nav navbar-right">
        @*<li>@Html.ActionLink("Register", "Register", "Account", routeValues: null, htmlAttributes: new { id = "registerLink" })</li>*@
        @if (Session["werknemer"] != null)
        {
            EindProjectBusinessModels.Werknemer werknemer = (EindProjectBusinessModels.Werknemer)(Session["werknemer"]);
            
            <li class="">
                <div class="left">
                    <img src="~/Content/Images/smurf.jpg" alt="img smurf" class="img-circle" width="50" height="50" />
                    @Html.ActionLink(werknemer.Naam + " " + werknemer.Voornaam, "Index", "Login", routeValues: null, htmlAttributes: new { id = "loginLink" })
                </div>
            </li>
        }
        else
        {
            <li>@Html.ActionLink("Log in", "Index", "Login", routeValues: null, htmlAttributes: new { id = "loginLink" })</li>
        }

    </ul>
}
